.container {
  margin: 0 24px;
}

.alignText {
  text-align: center;
}

.chip {
  color: #fff;
  text-decoration: none;
  padding: 4px 12px;
  border-radius: 20px;
  border: 1px solid #333;
  transition: all 0.2s linear;
  width: max-content;
}

.chip:hover {
  background: #333;
}

.produtos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.spacingTop {
  margin-top: 40px;
}